Añadir pregunta: <p>

<form method="post" action="/quizes/create" >
	<% include _form.ejs %>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<p>- <%=quiz.Comments[index].texto%></p>
<%}%>
